.skill-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-icon > img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 65px;
  max-height: 65px;
  transition: transform 100ms ease-in;
}
.skill-icon > img:hover {
  transform: scale(1.1);
}
.skill-icon > p {
  font-weight: 500;
}
@media (max-width: 768px) {
  .skill-icon > img {
    max-width: 45px;
    max-height: 45px;
  }
}
