.card {
  height: 40vh;
  width: 70vw;
  background-color: #1d3557;
  border-radius: 15px;
  overflow: clip;
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 15px;
}
.card > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in, border-radius 0.2s ease-in;
}
.web-icons {
  height: 25px;
  width: 25px;
}
.project-description {
  padding: 5px;
}
.project-description > h3 {
  color: #f1faee;
}
.project-description > p {
  line-break: auto;
  max-width: 45ch;
  color: rgba(255, 255, 255, 0.6);
}
.project-description > a {
  margin: 0 8px;
}
@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    height: min-content;
    padding: 0 0px 15px 0px;
  }
  .project-description {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .card > a > img:hover {
    object-fit: cover;
    width: 35vw;
    height: 40vh;
    position: absolute;
    transform: scale(1.04);
    border-radius: 15px;
  }
}
