.aside-links {
  position: fixed;
  top: 0;
  width: 7vw;
  height: 100vh;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .aside-links {
    padding-left: 8px;
  }
}
