.h1,
.h2,
.h3,
.label {
  color: #f1faee;
}
.h2 {
  font-size: 40px;
}
.h3 {
  font-size: 22px;
}
.description {
  color: rgba(255, 255, 255, 0.6);
}
.label {
  font-size: 20px;
}
.button {
  cursor: pointer;
  padding: 8px;
  max-width: fit-content;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #457b9d;
  color: #f1faee;
  text-decoration: none;
  font-weight: 500;
}
.button:hover {
  animation: focusButton 0.3s ease-in forwards;
}
.input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 40%;
  font-size: 16px;
  color: #f1faee;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #457b9d;
  outline: none;
}
.input:focus {
  outline: 1px solid #457b9d;
}
@keyframes focusButton {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #457b9d;
  }
}
