.skills {
  width: 100%;
  min-height: 100vh;
  color: #f1faee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}
.icons-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
@media (max-width: 768px) {
  .icons-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills {
    padding-top: 5vh;
  }
}
