.first-section {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
.first-section-main {
  display: flex;
  align-items: center;
  gap: 5vw;
}
.first-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image {
  height: 300px;
  width: 300px;
  border-radius: 15px;
  object-fit: cover;
}
.curriculum-button {
  cursor: pointer;
  padding: 8px;
  max-width: fit-content;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #457b9d;
  color: #f1faee;
  text-decoration: none;
  font-weight: 500;
}
.curriculum-button:hover {
  animation: focusButton 0.3s ease-in forwards;
}
@keyframes focusButton {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #457b9d;
  }
}
.text-pop {
  display: flex;
  font-size: 40px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}
.text-pop span {
  color: #f1faee;
  font-size: 55px;
  animation: in 0.2s forwards;
  display: inline-block;
}
.text-pop span:hover {
  animation: out 0.3s forwards;
  display: inline-block;
}
@keyframes out {
  0% {
    text-shadow: -2px 2px 0px #ef476f;
  }
  50% {
    text-shadow: -2px 2px 0px #ef476f, -4px 4px 0px #a23450;
  }
  100% {
    text-shadow: -2px 2px 0px #ef476f, -4px 4px 0px #a23450,
      -6px 6px 0px #4d1a26;
    transform: translate(6px, -6px);
  }
}

@keyframes in {
  0% {
    text-shadow: -2px 2px 0px #ef476f, -4px 4px 0px #a23450,
      -6px 6px 0px #4d1a26;
    transform: translate(6px, -6px);
  }
  33% {
    text-shadow: -2px 2px 0px #ef476f, -4px 4px 0px #a23450;
  }
  66% {
    text-shadow: -2px 2px 0px #ef476f;
  }
  100% {
    text-shadow: -2px 2px 0px #1d3557;
  }
}
@media (max-width: 768px) {
  .text-pop {
    font-size: 25px;
  }
  .text-pop > span {
    font-size: 40px;
  }
  .first-section-main {
    flex-direction: column;
  }
  .first-section-text {
    order: 1;
  }
  .profile-image {
    height: 200px;
    width: 200px;
  }
}
