.about-section {
  display: grid;
  place-content: center;
  padding: 15px;
  border-top: 1px solid #457b9d;
  border-bottom: 1px solid #457b9d;
}
.about-section > p {
  max-width: 50ch;
  line-height: 25px;
}
