.contact {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact > h2 {
  margin: 0%;
}
.contact-form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .contact-form > input,
  .contact-form > textarea {
    width: 55vw;
  }
  .contact > p {
    max-width: 18ch;
  }
  .contact {
    padding-top: 5vh;
  }
}
