header {
  top: 0;
  height: 6vh;
  background-color: #2b2d42;
  position: fixed;
  color: #f1faee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4vh 5%;
  z-index: 1;
  width: 90%;
}
.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0%;
  gap: 5vw;
}
.nav-item > a {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  color: #f1faee;
  text-decoration: none;
}

.nav-item > a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a8dadc;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
